<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.SET_TIME"/>
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />


    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="tiramisu" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL"
        tools:ignore="ProtectedPermissions" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Needed for bluetooth headset -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Needed to allow Linphone to install on tablets, since android.permission.CAMERA implies android.hardware.camera and android.hardware.camera.autofocus are required -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Needed to be able to pick images from SD card to share in chat message -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Needed to store received images if the user wants to -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Needed to use our own Contact editor -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- Needed to route the audio to the bluetooth headset if available -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Needed by the SDK to be able to use WifiManager.MulticastLock -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" /> <!-- Required for contacts sync account -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" /> <!-- Required if Android < 6.0 to be able to use AccountManager for contacts & email auto-fill in assistant -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> <!-- Needed for overlay widget and floating notifications -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Needed for kill application yourself -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- Needed for auto start at boot and to ensure the service won't be killed by OS while in call -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" /> <!-- Needed for full screen intent in notifications -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />


    <queries>
        <package android:name="com.alfanar.smartdisplay" />
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:mimeType="application/vnd.android.package-archive" android:scheme="content"/>
        </intent>
    </queries>

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.DarkTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.alfanar.villaroom.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>



    <activity
        android:name=".activities.MainActivity"
        android:exported="true"
        android:launchMode="singleTask"
        android:windowSoftInputMode="stateAlwaysHidden" >
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.DEFAULT" />

            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        <intent-filter>
            <data
                android:host="alf.host"
                android:scheme="idu" />
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>



    </activity>
    <activity
        android:name=".activities.settings.SettingsActivity"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    <activity android:name=".util.FileChooser" />
    <activity android:name=".activities.cameras.CameraPlayer" />
    <activity android:name=".activities.cameras.IpCameras" />
    <activity android:name=".activities.DoorsAndRoomsActivity" />
    <activity android:name=".activities.intercom.RecentCalls" />
    <activity android:name=".activities.intercom.IncomingDoorParallelConnected" />
    <activity android:name=".activities.intercom.IncomingDoorConnected" />
    <activity android:name=".activities.intercom.OutGoingDoorConnected" />
    <activity android:name=".activities.intercom.IncomingRoomConnected" />
    <activity android:name=".activities.intercom.IncomingRoomRinging" />
    <activity android:name=".activities.intercom.OutGoingRoomCalling" />
    <activity android:name=".activities.intercom.IncomingDoorParallelRinging" />
    <activity android:name=".activities.intercom.OutGoingRoomConnected" />
    <activity
        android:name=".activities.intercom.IndoorRingActivity"
        android:exported="false"
        android:theme="@style/Transparent" />
    <activity
        android:name=".activities.intercom.SetStreamVolumeActivity"
        android:exported="false"
        android:theme="@style/Transparent" />
    <activity android:name=".activities.gallery.GalleryActivity" />
    <activity
        android:name=".activities.QrDetectorActivity"
        android:exported="false" />

    <activity
        android:name=".activities.settings.PasswordControlActivity"
        android:exported="false"
        android:theme="@style/AppTheme.DarkTheme"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />



        <activity
            android:name=".activities.ScreensaverActivity"
            android:exported="false"
            android:theme="@style/AppTheme.DarkTheme" />


    </application>
</manifest>